$text: #2e293c;
$secondary: #a09da6;

html,
body {
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.testimonial-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &:after {
    content: "";
    position: absolute;
    width: 900px;
    height: 550px;
    background: #f2f2f6;
    z-index: -10;
    right: 0;
    bottom: 0;
    opacity: 0.8;
  }
  .testimonial-container {
    width: 1280px;
    min-width: 1280px;
    height: 600px;
    position: relative;
    .arrows {
      position: absolute;
      display: flex;
      width: 100px;
      align-items: center;
      justify-content: center;
      bottom: 0;
      top: 0;
      cursor: pointer;
      border-radius: 8px;
      transition: 0.3s ease-in-out;
      &:hover {
        box-shadow: 0px 0px 30px rgba(0, 0, 80, 0.05);
      }
      &.right {
        right: 0;
        top: 0;
      }
    }
    .inner {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 600px;
      .t-image {
        width: 500px;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:after {
          content: "";
          position: absolute;
          width: 200px;
          height: 200px;
          background: #3f56da;
          z-index: -9;
          left: 140px;
          top: 0;
          border-radius: 100%;
        }
        ul {
          display: flex;
          position: absolute;
          overflow: hidden;
          height: 460px;
          width: 340px;
          box-shadow: 0px 0px 40px rgba(0, 0, 10, 0.25);
          border-radius: 0px;
          li {
            height: 460px;
            width: 340px;
            img {
              height: 460px;
              width: 340px;
            }
          }
        }
      }
      .t-content {
        width: 500px;
        height: 600px;
        display: flex;
        align-items: center;
        ul {
          position: absolute;
          overflow: hidden;
          width: 500px;
          height: 400px;
          li {
            width: 500px;
            height: 400px;
            color: $text;
            display: flex;
            align-items: center;
            position: absolute;
            opacity: 0;
            &:nth-child(1) {
              &:after {
                position: absolute;
                content: "";
                height: 12px;
                width: 310px;
                background: $text;
                opacity: 0.3;
                left: 0;
                top: 206px;
              }
            }
            &:nth-child(2) {
              &:after {
                position: absolute;
                content: "";
                height: 12px;
                width: 148px;
                background: $text;
                opacity: 0.3;
                left: 54px;
                top: 126px;
              }
            }
            &:nth-child(3) {
              &:after {
                position: absolute;
                content: "";
                height: 12px;
                width: 280px;
                background: $text;
                opacity: 0.3;
                left: 144px;
                top: 166px;
              }
            }
            .content-inner {
              width: 500px;
              .quote {
                font-size: 26px;
                letter-spacing: 0.88px;
                line-height: 40px;
                font-weight: 700;
                margin-bottom: 16px;
              }
              .name {
                font-size: 18px;
                letter-spacing: 0.88px;
                line-height: 28px;
                color: $secondary;
                font-weight: 600;
              }
              .title {
                font-size: 18px;
                letter-spacing: 0.88px;
                line-height: 28px;
                color: $secondary;
              }
            }
          }
        }
      }
    }
  }
}
